h2.checkoutDetalle { margin-bottom: 10px !important; font-size: 1.45em;}
.checkOutTotal { justify-content: center; margin-bottom: 15px;}
.sendButton { padding: 10px !important; font-size: 17px !important; width: 100%;}
.sendButton i { margin-right: 5px;}
form { margin-bottom: 50px;}