.counter{ display: flex; justify-content: space-between; align-items: center; ;background: #fff; font-size: 25px; margin-bottom: 15px;}
.addButton { width: 100%; font-size: 17px !important; font-weight: 600 !important; margin-bottom: 5px;}
