.detailName { margin-bottom: 30px;}
.detailImageContainer { background-color: #fff; text-align: center; padding: 20px;}
.detailImage { max-width: 80%; max-height: 400px;}


.endButton { width: 100%; font-size: 17px !important; font-weight: 600 !important;}

@media (max-width: 991px) {
    .detailName { margin-top: 30px;}
}